* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 71%;
  margin: 1rem auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.8rem;
  align-items: center;
  min-height: 10vh;
}

.form-control {
  border: 1px solid black;
  padding: 0.5rem;
  width: 60%;
}

h1,
h2 {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  align-items: center;
}

.hr {
  border: 1px solid black;
  max-width: 40%;
  margin: 1rem auto;
}

button {
  padding: 0.3rem;
}

button:hover {
  cursor: pointer;
}

.list ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.list ul {
  margin: 1rem auto;
  border: 2px solid black;
}

.list ul li:nth-child(odd) {
  background-color: rgb(186, 185, 185);
}
